.hog {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.pursuit {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.storm {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.sneaks {
    width: 400px;
    height: 300px;
    margin: 10px;
}

